.calendar {
  &__header {
    display: grid;
    grid-template-areas: "prev title next";
    grid-template-columns: auto 1fr auto;
  }

  &__btn {
    &-prev {
      grid-area: prev;
    }

    &-next {
      grid-area: next;
    }
  }

  &__title {
    grid-area: title;
    text-align: center;
  }

  &__day-weeks,
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}
